@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Poppins:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');
body{
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  background-color: #0d1116;
  background: #0d1116;
}
body::-webkit-scrollbar {
  display: none;
}

html{
  overflow-x: hidden;
  background-color: #0d1116;
}

*::selection{
  background-color: #1E4273;
}


.signin_inputs{
  height: 40%;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1.6px solid grey;
  outline: none;
  color: white !important;
  transition: border-bottom 0.3s ease ;
  font-size: 0.95rem;
  font-weight: 400;
}
.signin_inputs:focus{
  border-bottom: 2.5px solid  #753fc8;
}
.signin_inputs::placeholder{
  color: white;
  opacity: 0.5;
}