@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:wght@300&family=Open+Sans&family=Poppins&family=Roboto&display=swap');
body{
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

html{
  overflow-x: hidden;
}

*::selection{
  background-color: #1E4273;
}

@font-face {
  font-family: 'Cur';
  src: url("fonts/FlyBoyBB.ttf");
  font-display:block;
}
