.setting {
  width: 80%;
  height: 100vh;
  background-color: #202029;
  border-left: 1px solid #23232b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  user-select: none;

  .upper {
    width: 92%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h2 {
      font-size: 1.34rem;
      font-weight: 600;
    }
    .btn {
      background-color: #7299f2;
      border: none;
      padding: 9px 15px;
      border-radius: 4px;
      color: #202029;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 0.83rem;
      cursor: pointer;
      font-weight: 550;
      transition: 0.4s ease-in-out;
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
      &:hover {
        background-color: #6a8de1;
        transform: scale(1.05), translateZ(0);
        font-size: 0.78rem;
      }
    }
  }
  .line {
    width: 92%;
    height: 2px;
    background-color: white;
    opacity: 0.2;
  }
  .personalDetail {
    width: 92%;
    height: auto;
    color: white;
    
    .heading{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 1.15rem;
        font-weight: 600;
      }

      button{
        background-color: #7299f2;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        color: #202029;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 0.9rem;
        cursor: pointer;
        font-weight: 550;
        transition: 0.4s ease-in-out;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        &:hover {
          background-color: #6a8de1;
          transform: scale(1.05);
        }
      }
    }
    .form {
      margin-top: 15px;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-rows: auto 1fr auto;
      gap: 30px;
      
      #child {
        width: 100%;
        height: 5.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        .input-section{
         height: 100%;
         width: 270px;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         gap: 7px;

         p{
            margin: 0;
            text-transform: capitalize;
            font-size: 0.73rem;
            font-weight: 500;

         }

         input{
            background-color: transparent;
            width: 90%;
            height: 40%;
            border: 2px solid rgba(209, 203, 203, 0.3);
            outline: none;
            border-radius: 5px;
            color: white;
            padding-left: 8px;
            filter: brightness(1.5);
         }
         .readonly{
          border: 2px solid rgba(255, 255, 255, 0.3);
          background-color: #282833;
          opacity: 0.2;
          user-select: none !important;
          filter: brightness(1);
         }
        }
      }
    }
    .EditSection{
      width: 100%;
      height: 7rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
