@import '../variables';

.main{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $background-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.main::-webkit-scrollbar{
  display: none;
}
.main .content{
   width: 60%;
   margin-top: calc(30vh - 4.3rem);
   margin-right: 10rem;
   height: 74vh;
   z-index: 100;
   display: flex;
   gap: 2%;
}

















.main .content .line{
  width: 3%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main .content .line .round{
  border: 1.955px solid grey;
  border-radius: 50%;
  width: 30%;
  height: 8px;
}
.main .content .line .blue{
  width: 3px;
  height: 55%;
  background:linear-gradient(transparent, #7C72FF 30%);
}


.main .content .line .code{
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/images/Ellipse.png') !important;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.main .content .line .code .img{
  width: 50%;
  height: 80%;
}



.main .content .line .green{
  width: 3px;
  height: 55%;
  background:linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);
}









.main .content .info{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .up{
     color: white;
     width: 95%;

     h1{
       margin-top: -0.3rem;
       margin-bottom: 0.4rem;
       font-size: 3.7rem;
     }

     h3{
      margin-top: 0;
      opacity: 0.7;
      font-size: 1.2rem;
      font-weight: 380;
     }
  }

  .partner{
    margin-top: 6%;
    width: 95%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    h3{

      margin-top: 0;
      opacity: 0.7;
      font-size: 1.1rem;
      font-weight: 380;
      color: white;
    }

    .company{
        width: 100%;
        height: 80%;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 20px;

         img{
          filter: grayscale(100%);
         }
    }
  }
}









.main .image{
   position: absolute;
   right: -2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width:30vw;
   height: 95vh;
   top: 1rem;
   bottom: auto;
   transform: rotate(-5deg);
}
.main .image img{
    width: 100%;
    height: 100%;
}
.main .image::before,
.main .image::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(13, 17, 22,0.99) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none; 
}
.main .image::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 160px;
    background: linear-gradient(to top, rgba(13, 17, 22,1) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none; 
}
.main .image::before {
    top: 0;
  }
  .main .image::after {
    bottom: 0;
  }