.DOsignin{
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .container{
        position: relative;
        background-color: #2B2F35;
        width: 430px;
        height: 430px;
        border-radius: 10px;
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: center;

        .logo{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: flex-start;
            color: white;
            .left{
                width: 150px;
                height: 100%;
                margin-left: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 2px;
                margin-right: 0px;
                img{
                   width: 30%;
                   height: 3rem;
                }
                h2{
                    color: white;
                    font-weight: 500;
                    opacity: 0.9;
                    font-size: 1.3rem;
                }
            }
            h1{
                width: 30px;
                height: 100%;
                margin: 0;
                padding: 0;
                font-size: 1.4rem;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                // margin-left: 13px;
                // margin-right: 10px;
             }
            .right{
                width: 160px;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                h2{
                    width: 100%;
                    color: white;
                    font-size: 1.6rem;
                    font-weight: 520;
                    text-transform: capitalize;

                }
            }
        }
        .form{
            margin-top: 20px;
            width: 80%;
            height: 60%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;

            .input-label{
                position: relative;
                width: 250px;
                height: 30%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: white;
                p{
                    margin: 0;
                    font-size: 0.95rem;
                    color: white;
                    font-weight: 540;
                    text-transform: capitalize;
                    span{
                        color: red;
                    }
                }
                input{
                    height: 40%;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1.6px solid grey;
                    outline: none;
                    color: white !important;
                    transition: border-bottom 0.3s ease ;

                    &:focus{
                        border-bottom: 2.5px solid  #753fc8;
                    }
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    right:2%;
                    cursor: pointer;
                }
            }

            .submit{
                width: 100%;
                height: 3rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                button{
                    background-color: #753fc8;
                    border: none;
                    color: white;
                    padding: 8px 28px;
                    border-radius: 6px;
                    font-size: 0.95rem;
                    text-transform: capitalize;
                    font-weight: 550;
                    transition: 0.5s ease;
                    cursor: pointer;
                    backface-visibility: hidden;
                    -webkit-font-smoothing: subpixel-antialiased;
     
                    &:hover{
                     background-color: #6336a8;
                     transform: scale(1.04) , translateZ(0);
                    }
                 } 
            }
        }
        .newuser{
            width: 80%;
            text-align: left;
            margin: 0;
            color: white;
            font-size: 0.8rem;
            text-transform: capitalize;
            display: flex;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            p{
                margin: 0;
                color: #6336a8;
                transition: 0.5s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        color: white;
        font-size: 0.66rem;
        font-weight: 570;
        width: 100%;
        text-align: center;
    }
}